body {
  background: rgb(209, 212, 216);
  margin: 0
}

.navbar {
  height: 8vh;
  background: white;
  display: flex;
  flex-direction: row;
  color: darkblue
  padding: 10px;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-end;
}

.navbar h2 {
  padding: 0 20px 0 20px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 26px;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 20px;
}

#campus-container {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.campus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vh;
  height: 70vh;
  margin: 20px;
  background: rgba(140, 180, 214, 0.81);
  border-radius: 20px;
}

#addCampus {
  background: rgb(26, 23, 23);
  color: white;
  width: 30vh;
  font-size: 15px;
  border-radius: 10px;
  margin: 0 97vh 0 97vh;
}

.campus button {
  background: rgb(26, 23, 23);
  color: white;
  width: 30vh;
  font-size: 15px;
  border-radius: 10px;
  margin: 0 20vh 0 20vh;
}

.campus Link {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 20px;
  align-self: center;
}


.campus img {
  height: 50vh;
  width: 50vh;
  border-radius: 20px;
  align-self: center;
}

.deleteButton {
  border-radius: 30px;
  background: darkred;
  color: white;
  height: 4vh;
  width: 4vh;
}
